
.intentions-form{
    font-family: 'Nunito', sans-serif;
    max-width: 600px;
    /* height: 600px; */
    padding: 10px 10px; 
    /* background-color: #f8f4e5; */
    text-align: center;
    align-content: center;
    /* border: 2px solid black; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position:relative;
}


.intentions-form h2{
    font-size: 38px;
    font-weight: 800;
    margin: 5px;
    z-index: 3;
}

.intentions-form p {
    z-index: 3;
    font-size: 20px;
    margin: 5px;
}


.clouds-img {
    display: flex;
    width: 370px;
    position: absolute;
    z-index: 1;
    top: 65px;
}

.clouds-div{
    top: 60px;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
}

.intentions-form textarea {
    width: 80%;
    height: 70px;
    padding: 20px;
    resize: none;
    margin: 20px;
    border: 1.5px solid #b2afaf;
    border-radius: 15px;
    font-size: 16px;
}

.intentions-form label {
    font-size: 18px;
}

.intentions-form textarea:focus {
    outline-color: #95a4ff;
}

.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: none;
    border-radius: 30px;
    padding: 10px 0px;
    width: 170px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.new:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);
    transition: 0.5s;
}

.submit {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: none;
    border-radius: 30px;
    width: 170px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.submit:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);

}

.look-back {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: none;
    border-radius: 30px;
    width: 170px;

    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 10px 0px;
}

.look-back:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);
    /* padding-left: 1px; */
}

.look-back:hover::before{
    content: "⇦ ";
    /* opacity: 0;   */
    transition: 0.5s;
}

.more-info{
    z-index: 3;
    color: rgb(121, 121, 121);
    margin: 10px;
}

.more-info a {
    color: #ff7e1d;
    text-decoration: none;
}





@media screen and (max-width: 700px) {
    .intentions-form {
        width: 100%;
        padding: 0px;
    }

    .clouds-img {
        top: 50px;
        width: 280px;
    }
}