
.intentions-form{
    font-family: 'Nunito', sans-serif;
    max-width: 450px;
    height: 600px;
    padding: 10px; 
    background-color: #f8f4e5;
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 2;
    border: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: auto;
    top: -600px;
}

.form-layer {
    width: 450px;
    height: 600px;
    padding: 10px; 
    /* background-color: #95a4ff; */
    background-color: #36558f;
    position: relative;
    /* top:-480px; 
    left:35px;  */
    z-index: 1; 
    border: 2px solid black;
    margin: auto;
    left: -20px;
}

.intentions-form h2{
    font-size: 30px;
}
/* .intentions {
    display: overlay;
} */

.intentions-form textarea {
    width: 85%;
    height: 15%;
    resize: none;
    margin: 5px;
    border: 1.5px solid #000000;
    background-color:#f8f4e5;
    /* border-radius: 8px; */
}

.intentions-form textarea:focus {
    outline-color: #95a4ff;
}

.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: 1.5px solid black;
    padding: 10px 0px;
    width: 130px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.new:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);
    transition: 0.5s;
}

.submit {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: 1.5px solid black;
    width: 120px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.submit:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);

}

.look-back {
    /* background-color: #95a4ff; */
    background-color: #36558f;
    border: 1.5px solid black;
    width: 130px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 10px 0px;
}

.look-back:hover {
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(189, 189, 189);
    /* padding-left: 1px; */
}

.look-back:hover::before{
    content: "⇦ ";
    /* opacity: 0;   */
    transition: 0.5s;
}




@media screen and (max-width: 700px) {

  }