.meditate-now {
    padding: 10px;
    border-radius: 30px;
    width: 220px;
    background-color:#ed8e83;
    border: 1px solid #ed8e83;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all 0.5s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.meditate-now:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ed8e83;
    font-size: 21px;
    transition: 0.5s;
}