.meditation-item-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.meditation-item-page .total-minutes{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: baseline;
}

.date {
    font-size: 26px;
    font-weight: 600;
    /* padding: 10px 22px; */
    display: flex;
    align-items: flex-start
}

.date p {
    padding: 6px;
    margin: 0px;
}

.meditation-item-page .total-minutes h3{
    padding: 5px;
    font-size: 62px;
    margin: 0px;
}

.meditation-item-page .total-minutes span {
    font-size: 24px
}

.duration {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.duration p {
    margin: 0px;
    font-size: 18px;
}

.meditation-type {
    border: 1px solid gray;
    padding: 2px;
    border: 0.0625rem solid rgb(229, 229, 229);
    border-radius: 0.25rem;
    padding: calc((1.125rem - 1.25em) / 2) 0.5rem;
    /* font-size: 12px; */
    font-size: 12px;
    font-weight: 700;
}

.meditation-reflection-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 520px;
}

.questions {
    margin: 2px;
    font-size: 20px;
    color: rgb(125, 125, 125);
}

.responses {
    font-size: 22px;
    color: black;
}

.circle-image {
    width: 360px;
    border-radius: 20px;
}

.clock {
    width: 30px;
}

.item-header{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.date-duration {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 10px 10px;
}

.clock-duration{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.go-back-div{
   padding: 2px 5px;
}

.go-back-div img {
    width: 15px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid rgb(211, 211, 211);
    transition: all 0.5s;
    cursor: pointer;
}

.go-back-div img:hover {
    width: 23px;
    padding: 11px;
}

@media screen and (max-width: 800px) {
    .meditation-item-page{
        width: 100%;
    }

    .circle-image {
        width: 100%;
    }

    .date-duration {
        flex-direction: column;
        align-items: center;
    }

    .item-header {
        margin: 0px;
    }

}