.meditation-log{
    text-align: center;
    font-size: 22px;
}

.meditation-log h3 {
    margin-bottom: 0px;
    font-size: 26px;
}


.meditation-btn-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}

.stats h3 {
    width: 280px;
}

.this-week {
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.this-week span{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;

}

.longest {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.longest span{
    font-size: 30px;
    font-weight: 600;
}



.meditation-items {
    background-color: transparent;
    border-bottom: 1px solid #36558f;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    min-width: 500px;
    padding: 20px;
    align-items: center;
    cursor: pointer;
}

.meditation-items:hover{
    background-color: rgba(211, 211, 211, 0.474);
}

.meditation-items .med-date{

} 

.meditation-items .view-more {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.meditation-logs {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
}



@media screen and (max-width: 700px) {
    .meditation-log{
    /* max-width: 350px; */
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    }

    .meditation-items{
        width: 100%;
        min-width: 100%;
        padding: 0px;
    }
}

