.navbar {
    /* margin-top: 10px;
    font-family: 'Nunito', sans-serif;
   
    width: 100%;
    height: 70px; */
    /* display: flex; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: min-content;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding: 5px 20px;
    /* border-bottom: 0.125rem solid rgb(234, 231, 228); */
}

.navbar .logo{
    width: 25%;
    max-width: 230px;
    cursor: pointer;
}

.slogan {
    font-size:16px;
    letter-spacing:1.5px;
    padding:5px 20px;
}
.logged-out{

    display: flex;
    font-size: 18px;
    color: black;
    /* align-items: center; */
    /* justify-content: right; */
    /* justify-self: flex-end; */
}

.logged-out p {
    padding: 10px;
}

.logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    font-size: 18px;
    margin: auto;
    padding: 10px;
}

.logout:hover{
    background-color: rgba(211, 211, 211, 0.621);
}






@media screen and (max-width: 800px) {
    .navbar {
      width: 100%; 
      /* padding: 10px; */
      /* min-width: 380px */
      margin: 0px;
      padding: 0px;
    }

    .navbar .logo {
        width: 40%;
        padding: 0px;
    }

    .logout {
        font-size: 16px;
        padding: 10px;
    }

    .logged-out p {
        padding: 0px;
        font-size: 16px;
    }

    .slogan {
        visibility: hidden;
        padding: 0px;
        margin: 0px;

    }

  }