.theme-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.theme-page h3 {
    font-size: 32px;
}


@media screen and (max-width: 700px) {
    .theme-page h3{
        margin-top: 80px;
    }
  }