.user-page {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    text-align: center;
    color: rgb(75, 76, 77);
}

.daily-tip-div {
    padding: 20px;
}

.user-page .greeting {
    font-size: 22px;
    margin-top: 10px;
    padding-left: 60px;
    align-self: flex-start;
    font-weight: 500;
}

.meditation-section {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}

.meditation-btn-container {
    text-align: center;
    max-width: 450px;
    margin: 25px;
}

.intentions-page {
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.intentions {
    max-height: 800px;
}

.background-intentions{
    margin-top: 90px;
    background-position: center bottom;
    position: absolute;
    inset: 0px;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../sunshine.svg');

}


@media screen and (max-width: 800px) {
    .user-page {
        align-items: center;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }

    .meditation-section {
        align-items: center;
        /* position: relative; */
        width: 100%;
        max-width: 100%;
    }

    .meditation-btn-container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .stats {
        margin: 10px;
    }
 
    /* /* .intentions-page {
        width: 100%;
        height: 800px;
    
    } */

    /* .intentions {
        max-height: 800px;

    }   */

    .background-intentions {
        height: 100%;
        margin-top: 100px;
    }

  }